.container-fluid {
    background-color: rgb(79.2%, 26.9%, 26.9%);  
}

.second {
    margin-left: 15px;   
    margin-right: 15px; 
    padding-top: 5px;
    padding-left: 20px;   
    padding-right: 15px; 
    background-color: white;
}

nav {
    margin-bottom: 10px;
}

button#formBtn {
    margin-left: 20px;   
    margin-right: 5px; 
    padding-top: 5px;
}

div#collapseForm {
    margin-left: 5px;   
    margin-right: 5px; 
    padding-top: 5px;
    padding-left: 20px;   
    padding-right: 15px; 
    background-color: white;  
}

div.main {
    margin-left: 5px;   
    margin-right: 5px; 
    padding-top: 5px;
    padding-left: 20px;   
    padding-right: 15px; 
    background-color: white;  
}

.card {
    margin: 5px;
    border-style: double;
}

.reviewsContainer {
    margin: 10px;
}

.list-unstyled {
    margin-bottom: 15px;
}

h1 {
    margin: 450px;
    border: double;
}