.container-fluid {
    background-color: rgb(79.2%, 26.9%, 26.9%);  
}

.second {
    margin-left: 20px;   
    margin-right: 20px; 
    padding-left: 20px;   
    padding-right: 15px; 
    background-color: white;
}

.main {
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    margin: 5px;
    border-style: double;
}

.reviewsContainer {
    margin: 10px;
}

.list-unstyled {
    margin-bottom: 15px;
}